html {
  -ms-overflow-style: scrollbar;
}

html, body {
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  font-weight: 700;
  min-height: 100%;
  background: #fff;
  color: #222;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-in-out;

  &:hover, &:focus,
  &.hover, &.focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
  }
}

button,
input {
  &:focus { outline: none; }
}