.btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
  border-radius: 4px;
  font-size: 3rem;
  color: #fff;
  transition: all .3s linear;
  // &:hover, &:focus{ font-weight: 900; }

  &:hover{
    &[data-tooltip]:before{
      animation: tooltipAnimationBefore .3s forwards;
    }
    &[data-tooltip]:after{
      animation: tooltipAnimationAfter .3s forwards;
    }
  }


  &[data-tooltip]:before,
  &[data-tooltip]:after{
    opacity: 0;
    position: absolute;
    left: 50%;
  }

  &[data-tooltip]:before{
    content: attr(data-tooltip);
    top: -70%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    padding: 3px 5px;
    border-radius: 4px;
    z-index: 1;
  }

  &[data-tooltip]:after{
    content: "";
    top: -55%;
    transform: translateX(-50%) rotate(-45deg);
    display: inline-block;
    width: 15px;
    height: 15px;
  }
}

// ==================== BTN__ADD ====================

.btn__add{
  @extend .btn;
  background: $blue;

  &[data-tooltip]:before,
  &[data-tooltip]:after{
    background: darken($blue, 15%);
  }
}

// ==================== BTN__REMOVE ====================

.btn__remove{
  @extend .btn;
  background: $red;

  &[data-tooltip]:before,
  &[data-tooltip]:after{
    background: darken($red, 15%);
  }
}

// ==================== BTN__DONE ====================

.btn__done{
  @extend .btn;
  background: $green;
  margin: 0 10px;
  &:hover, &:focus{
    background: darken($green, 15%);
  }

  &[data-tooltip]:before,
  &[data-tooltip]:after{
    background: darken($green, 15%);
  }

  svg{
    width: 10px;
    height: 10px;
  }
}