footer{
  text-align: center;
  padding: 10px 0;
}

.footer__title{
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
}

// ==================== FOOTER__SOCIAL ====================

.footer__social{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0;
}

.footer__social-item{
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.footer__social-link{
  svg{
    transition: fill .3s linear;
  }
  &.gitlab:hover svg{
    fill: #e65328;
  }
  &.facebook:hover svg{
    fill: #4267b2;
  }
  &.linkedin:hover svg{
    fill: #0077B5;
  }
}