* { box-sizing: border-box }

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f5f5f5;
}

#root {
  position: relative;
  flex: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}